@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka:wght@300..700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #43115b;
  font-family: "Fredoka", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #5a1e76;
  width: 1400px;
  height: 840px;
  margin: 60px 245px;
  border-radius: 50px;
}
.play-card {
  background: #2b0040;
  width: 400px;
  height: 610px;
  border-radius: 20px;
  padding: 90px 70px 90px 70px;
}
.score {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 0px;
}
.box {
  width: 70px;
  height: 70px;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}
.box span {
  display: block;
  font-size: 25px;
}
.x {
  background: #48d2fe;
}
.draw {
  background: #bcdbf9;
}
.o {
  background: #e2be00;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}
.cell {
  width: 70px;
  height: 70px;
  background: #43115B;
  border-radius: 10px;
  cursor: pointer;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.newgame{
  border: none;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  width: 230px;
  height: 70px;
  font-family: "Fredoka", sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 0 15px 0 15px;
}